@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #e7edfb;
    min-height: 100vh;
    position: relative;
}
nav{
    display:flex;
    height:5rem;
    width:100%;
    background: #003cff;
    align-items: center;
    justify-content:space-between;
    padding:0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: 0 0 2rem rgba(19, 94, 215, 0.51);
}
nav .logo{
    color:#fff;
    font-size:2rem;
    font-weight:600;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
nav ul{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li{
    margin:0 5px;
}
nav ul li a{
    position: relative;
    margin: 0 7px;
    padding:5px 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    transition:all 0.3s ease;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
nav ul li a:before{
    content: "";
    width: 50%;
    margin: 30px 0 0 15%;
    justify-content: center;
    position: absolute;
    height: 3px;
    background: #fff;
    transition: all .2s;
    transform: scale(0);
}
nav ul li a:hover:before{
    color:#fff;
    transform: scale(1);
}
nav .menu-btn i{
    color:#fff;
    font-size:22px;
    cursor: pointer;
    display:none;
}
input[type="checkbox"]{
    display:none;
}
.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    width:100%;
    padding:0 30px;
    color:#8700ff;
}
.content div{
    font-size: 40px;
    font-weight: 700;
}
@media (max-width:1000px){
    nav{
        padding:0 40px 0px 50px;
    }
}
@media (max-width:920px){
    nav .menu-btn i{
        display:block;
    }
    #click:Checked ~ .menu-btn i:before{
        content:'\f00d';
    }
    nav ul{
        position:fixed;
        top:80px;
        left:-100%;
        background:#004cff;
        height:100vh;
        width:100%;
        text-align: center;
        z-index:10;
        display:block;
        transition:all 0.3s ease;
    }
    #click:Checked ~ ul {
        left:0px;
    }
    nav ul li{
        width:100%;
        margin:40px 0;
    }
    nav ul li a{
        width:100%;
        margin-left:-100%;
        display:block;
        font-size: 20px;
        transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    nav ul li a:before{
        width: 100%;
        margin: 35px 0 0 0;
        left: 0;
        transition: all .4s;
    }
    #click:Checked ~ ul li a{
        margin-left:0px;
    }
}
@media (max-width:768px){
    .content div{
        font-size: 22px;
    }
}
html,body{
    display: grid; height: 100%;
    place-items: center;
    background-color: #e7edfb;
}
.skill-bars{
   padding: 25px 30px;
   width: 600px; background: #fff;
   box-shadow: 0px 5px 20px rgba(105, 35, 209, 0.233);
   border-radius: 10px;  
}
.bar{ margin: 20px 0; }
.bar:first-child{ margin-top: 0; }
.info{ margin-bottom: 0; }
.info span{
    font-weight: 500;
    font-size: 17px; opacity: 0;
    animation: showText .5s 1s linear forwards;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}
.progress-line{
    height: 10px; width: 100%;
    background: #e7edfb; position: relative;
    transform: scaleX(0); transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span{
    height: 100%; position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #0b13ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span::before{
    position: absolute; content: "";
    top:-10px; right: 0; height: 0;
    width: 0; opacity: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #6923D0;
    animation: showText2 .5s 1.5s linear forwards;
}
.progress-line span::after{
    position: absolute; 
    top:-28px; right: 0; font-weight: 500;
    background: #150dea;
    color:#fff; opacity: 0;
    padding: 1.5px 8px;
    font-size: 12px;
    border-radius: 3px;
    animation: showText2 .5s 1.5s linear forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }    
}
.html span{ 
    width: 92%; 
}
.css span{
    width: 86%; 
}
.js span{
    width: 72%; 
}
.php span{
    width: 81%; 
}
.html span::after{
    content: "92%"; 
}
.css span::after{
    content: "86%"; 
}
.js span::after{
    content: "72%"; 
}
.php span::after{
    content: "81%"; 
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
<style type="text/css">
 
		.iletisim-form{
		width: 300px;
		margin:auto;
		}
		.form-style-9{
		max-width: 450px;
		background: #FAFAFA;
		padding: 30px;
		margin: 50px auto;
		box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
		border-radius: 10px;
		border: 6px solid #305A72;
		}
		.form-style-9 ul{
		padding:0;
		margin:0;
		list-style:none;
		}
		.form-style-9 ul li{
		display: block;
		margin-bottom: 10px;
		min-height: 35px;
		}
		.form-style-9 ul li .field-style{
		box-sizing: border-box; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		padding: 8px;
		outline: none;
		border: 1px solid #B0CFE0;
		
		 
		}.form-style-9 ul li .field-style:focus{
		box-shadow: 0 0 5px #B0CFE0;
		border:1px solid #B0CFE0;
		}
		.form-style-9 ul li .field-split{
		width: 49%;
		}
		.form-style-9 ul li .field-full{
		width: 100%;
		}
		.form-style-9 ul li input.align-left{
		float:left;
		}
		.form-style-9 ul li input.align-right{
		float:right;
		}
		.form-style-9 ul li textarea{
		width: 100%;
		height: 100px;
		}
		.form-style-9 ul li input[type="button"], 
		.form-style-9 ul li input[type="submit"] {
		-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
		-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
		box-shadow: inset 0px 1px 0px 0px #3985B1;
		background-color: #216288;
		border: 1px solid #17445E;
		display: inline-block;
		cursor: pointer;
		color: #FFFFFF;
		padding: 8px 18px;
		text-decoration: none;
		font: 12px Arial, Helvetica, sans-serif;
		}
		.form-style-9 ul li input[type="button"]:hover, 
		.form-style-9 ul li input[type="submit"]:hover {
		background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
		background-color: #28739E;
		}
		</style>
		 
		</style>
        #about .about {
            flex-direction: column-reverse;
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 20px;
        }
        #about .col-left {
            width: 250px;
            height: 360px;
        }
        #about .col-right {
            width: 100%;
        }
        #about .col-right h2 {
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            margin-bottom: 10px;
        }
        #about .col-right p {
            margin-bottom: 20px;
        }
        #about .col-right .cta {
            color: black;
            margin-bottom: 50px;
            padding: 10px 20px;
            font-size: 2rem;
        }
        #about .col-left .about-img {
            height: 100%;
            width: 100%;
            position: relative;
            border: 10px solid white;
        }
        #about .col-left .about-img::after {
            content: '';
            position: absolute;
            left: -33px;
            top: 19px;
            height: 98%;
            width: 98%;
            border: 7px solid rgb(220, 77, 20);
            z-index: -1;
        }